<!DOCTYPE html>
<html>
  <head>
    <title>Welp</title>
    <script src="https://kit.fontawesome.com/249b65a122.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
